---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/csrordzhn/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1447569440'
      Etag:
      - W/"e8be8575a821f83b22219c86024e11d1"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":32798858,"name":"2015-03HW2","full_name":"csrordzhn/2015-03HW2","owner":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gists{/gist_id}","starred_url":"https://api.github.com/users/csrordzhn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csrordzhn/subscriptions","organizations_url":"https://api.github.com/users/csrordzhn/orgs","repos_url":"https://api.github.com/users/csrordzhn/repos","events_url":"https://api.github.com/users/csrordzhn/events{/privacy}","received_events_url":"https://api.github.com/users/csrordzhn/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/csrordzhn/2015-03HW2","description":"","fork":false,"url":"https://api.github.com/repos/csrordzhn/2015-03HW2","forks_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/forks","keys_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/keys{/key_id}","collaborators_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/teams","hooks_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/hooks","issue_events_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/issues/events{/number}","events_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/events","assignees_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/assignees{/user}","branches_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/branches{/branch}","tags_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/tags","blobs_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/git/refs{/sha}","trees_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/git/trees{/sha}","statuses_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/statuses/{sha}","languages_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/languages","stargazers_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/stargazers","contributors_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/contributors","subscribers_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/subscribers","subscription_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/subscription","commits_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/commits{/sha}","git_commits_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/git/commits{/sha}","comments_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/comments{/number}","issue_comment_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/issues/comments{/number}","contents_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/contents/{+path}","compare_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/compare/{base}...{head}","merges_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/merges","archive_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/downloads","issues_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/issues{/number}","pulls_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/pulls{/number}","milestones_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/milestones{/number}","notifications_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/labels{/name}","releases_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/releases{/id}","created_at":"2015-03-24T12:59:20Z","updated_at":"2015-03-26T13:54:44Z","pushed_at":"2015-03-26T13:54:43Z","git_url":"git://github.com/csrordzhn/2015-03HW2.git","ssh_url":"git@github.com:csrordzhn/2015-03HW2.git","clone_url":"https://github.com/csrordzhn/2015-03HW2.git","svn_url":"https://github.com/csrordzhn/2015-03HW2","homepage":null,"size":152,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":33310913,"name":"2015-03HW3","full_name":"csrordzhn/2015-03HW3","owner":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gist[...]
