---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/csrordzhn/hw-knapsack_cipher/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1447578279'
      Last-Modified:
      - Tue, 26 May 2015 15:41:50 GMT
      Etag:
      - W/"7f010289024d267e38b31340961d7e8a"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"2738fdc8e137e9d18efe28ef424f861b14a06d1a","commit":{"author":{"name":"Cesar","email":"c_man182@yahoo.com","date":"2015-05-26T15:41:50Z"},"committer":{"name":"Cesar","email":"c_man182@yahoo.com","date":"2015-05-26T15:41:50Z"},"message":"Merge
        pull request #1 from NTHUDEV/encrypt\n\n2015-05-26: finished encrypt method","tree":{"sha":"dd24faf371afc8bb5c500c1f77964ba7772bb5b3","url":"https://api.github.com/repos/csrordzhn/hw-knapsack_cipher/git/trees/dd24faf371afc8bb5c500c1f77964ba7772bb5b3"},"url":"https://api.github.com/repos/csrordzhn/hw-knapsack_cipher/git/commits/2738fdc8e137e9d18efe28ef424f861b14a06d1a","comment_count":0},"url":"https://api.github.com/repos/csrordzhn/hw-knapsack_cipher/commits/2738fdc8e137e9d18efe28ef424f861b14a06d1a","html_url":"https://github.com/csrordzhn/hw-knapsack_cipher/commit/2738fdc8e137e9d18efe28ef424f861b14a06d1a","comments_url":"https://api.github.com/repos/csrordzhn/hw-knapsack_cipher/commits/2738fdc8e137e9d18efe28ef424f861b14a06d1a/comments","author":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gists{/gist_id}","starred_url":"https://api.github.com/users/csrordzhn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csrordzhn/subscriptions","organizations_url":"https://api.github.com/users/csrordzhn/orgs","repos_url":"https://api.github.com/users/csrordzhn/repos","events_url":"https://api.github.com/users/csrordzhn/events{/privacy}","received_events_url":"https://api.github.com/users/csrordzhn/received_events","type":"User","site_admin":false},"committer":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gists{/gist_id}","starred_url":"https://api.github.com/users/csrordzhn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csrordzhn/subscriptions","organizations_url":"https://api.github.com/users/csrordzhn/orgs","repos_url":"https://api.github.com/users/csrordzhn/repos","events_url":"https://api.github.com/users/csrordzhn/events{/privacy}","received_events_url":"https://api.github.com/users/csrordzhn/received_events","type":"User","site_admin":false},"parents":[{"sha":"69ecbb32ed4ec8d70ac7cfbce4b19d83ff0bd83c","url":"https://api.github.com/repos/csrordzhn/hw-knapsack_cipher/commits/69ecbb32ed4ec8d70ac7cfbce4b19d83ff0bd83c","html_url":"https://github.com/csrordzhn/hw-knapsack_cipher/commit/69ecbb32ed4ec8d70ac7cfbce4b19d83ff0bd83c"},{"sha":"887d2354ab3d5859cd77eb05fa70cffec419bc10","url":"https://api.github.com/repos/csrordzhn/hw-knapsack_cipher/commits/887d2354ab3d5859cd77eb05fa70cffec419bc10","html_url":"https://github.com/csrordzhn/hw-knapsack_cipher[...]
