---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/csrordzhn/2015-03HW2/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1447578279'
      Last-Modified:
      - Thu, 26 Mar 2015 13:54:16 GMT
      Etag:
      - W/"3ba7ac27999c4e420c1f142c6c7923a7"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"d5e2b09e72e5d869c5f40693dff296f4eb9feb5d","commit":{"author":{"name":"csrordzhn","email":"c_man182@yahoo.com","date":"2015-03-26T13:54:16Z"},"committer":{"name":"csrordzhn","email":"c_man182@yahoo.com","date":"2015-03-26T13:54:16Z"},"message":"2015-03-28:
        3rd commit, change in luhn validator, deleted variable validnum","tree":{"sha":"8c85291520876d9b04db25502b760f17eb304ef6","url":"https://api.github.com/repos/csrordzhn/2015-03HW2/git/trees/8c85291520876d9b04db25502b760f17eb304ef6"},"url":"https://api.github.com/repos/csrordzhn/2015-03HW2/git/commits/d5e2b09e72e5d869c5f40693dff296f4eb9feb5d","comment_count":0},"url":"https://api.github.com/repos/csrordzhn/2015-03HW2/commits/d5e2b09e72e5d869c5f40693dff296f4eb9feb5d","html_url":"https://github.com/csrordzhn/2015-03HW2/commit/d5e2b09e72e5d869c5f40693dff296f4eb9feb5d","comments_url":"https://api.github.com/repos/csrordzhn/2015-03HW2/commits/d5e2b09e72e5d869c5f40693dff296f4eb9feb5d/comments","author":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gists{/gist_id}","starred_url":"https://api.github.com/users/csrordzhn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csrordzhn/subscriptions","organizations_url":"https://api.github.com/users/csrordzhn/orgs","repos_url":"https://api.github.com/users/csrordzhn/repos","events_url":"https://api.github.com/users/csrordzhn/events{/privacy}","received_events_url":"https://api.github.com/users/csrordzhn/received_events","type":"User","site_admin":false},"committer":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gists{/gist_id}","starred_url":"https://api.github.com/users/csrordzhn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csrordzhn/subscriptions","organizations_url":"https://api.github.com/users/csrordzhn/orgs","repos_url":"https://api.github.com/users/csrordzhn/repos","events_url":"https://api.github.com/users/csrordzhn/events{/privacy}","received_events_url":"https://api.github.com/users/csrordzhn/received_events","type":"User","site_admin":false},"parents":[{"sha":"3f85ad4e4fbc90bf1e22df59de149112e683a833","url":"https://api.github.com/repos/csrordzhn/2015-03HW2/commits/3f85ad4e4fbc90bf1e22df59de149112e683a833","html_url":"https://github.com/csrordzhn/2015-03HW2/commit/3f85ad4e4fbc90bf1e22df59de149112e683a833"}]},{"sha":"3f85ad4e4fbc90bf1e22df59de149112e683a833","commit":{"author":{"name":"csrordzhn","email":"c_man182@yahoo.com","date":"2015-03-26T13:33:16Z"},"committer":{"name":"csrordzhn","email":"c_man182@yahoo.com","date":"2015-03-26T13:33:16Z[...]
