---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/csrordzhn/2015-03HW3/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1447578279'
      Last-Modified:
      - Thu, 02 Apr 2015 13:41:26 GMT
      Etag:
      - W/"b1236e99526750ce4dfdc6c66ae24a5d"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"2ac6d3b019b33ea9fd14fa7346d25ea22896b8c4","commit":{"author":{"name":"Cesar","email":"c_man182@yahoo.com","date":"2015-04-02T13:41:26Z"},"committer":{"name":"Cesar","email":"c_man182@yahoo.com","date":"2015-04-02T13:41:26Z"},"message":"Initial
        commit","tree":{"sha":"e34d5cb123c335d3f7c94bd09cca5fc9812e94fd","url":"https://api.github.com/repos/csrordzhn/2015-03HW3/git/trees/e34d5cb123c335d3f7c94bd09cca5fc9812e94fd"},"url":"https://api.github.com/repos/csrordzhn/2015-03HW3/git/commits/2ac6d3b019b33ea9fd14fa7346d25ea22896b8c4","comment_count":0},"url":"https://api.github.com/repos/csrordzhn/2015-03HW3/commits/2ac6d3b019b33ea9fd14fa7346d25ea22896b8c4","html_url":"https://github.com/csrordzhn/2015-03HW3/commit/2ac6d3b019b33ea9fd14fa7346d25ea22896b8c4","comments_url":"https://api.github.com/repos/csrordzhn/2015-03HW3/commits/2ac6d3b019b33ea9fd14fa7346d25ea22896b8c4/comments","author":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gists{/gist_id}","starred_url":"https://api.github.com/users/csrordzhn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csrordzhn/subscriptions","organizations_url":"https://api.github.com/users/csrordzhn/orgs","repos_url":"https://api.github.com/users/csrordzhn/repos","events_url":"https://api.github.com/users/csrordzhn/events{/privacy}","received_events_url":"https://api.github.com/users/csrordzhn/received_events","type":"User","site_admin":false},"committer":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gists{/gist_id}","starred_url":"https://api.github.com/users/csrordzhn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csrordzhn/subscriptions","organizations_url":"https://api.github.com/users/csrordzhn/orgs","repos_url":"https://api.github.com/users/csrordzhn/repos","events_url":"https://api.github.com/users/csrordzhn/events{/privacy}","received_events_url":"https://api.github.com/users/csrordzhn/received_events","type":"User","site_admin":false},"parents":[]}]'
  recorded_at: Sun, 15 Nov 2015 08:51:02 GMT
recorded_with: VCR 3.0.0
