---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/csrordzhn/frommage/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1447578279'
      Last-Modified:
      - Mon, 11 May 2015 08:20:34 GMT
      Etag:
      - W/"3366862ade09998e2437430f6a5434d8"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"4ed486fe333302882e83f99038854f005681486e","commit":{"author":{"name":"csrordzhn","email":"c_man182@yahoo.com","date":"2015-05-11T08:20:34Z"},"committer":{"name":"csrordzhn","email":"c_man182@yahoo.com","date":"2015-05-11T08:20:34Z"},"message":"2015-05-01:
        added db and method to display plan information from database","tree":{"sha":"9fb23eb849f3cc41accefbe9acdf236e200b5b5c","url":"https://api.github.com/repos/csrordzhn/frommage/git/trees/9fb23eb849f3cc41accefbe9acdf236e200b5b5c"},"url":"https://api.github.com/repos/csrordzhn/frommage/git/commits/4ed486fe333302882e83f99038854f005681486e","comment_count":0},"url":"https://api.github.com/repos/csrordzhn/frommage/commits/4ed486fe333302882e83f99038854f005681486e","html_url":"https://github.com/csrordzhn/frommage/commit/4ed486fe333302882e83f99038854f005681486e","comments_url":"https://api.github.com/repos/csrordzhn/frommage/commits/4ed486fe333302882e83f99038854f005681486e/comments","author":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gists{/gist_id}","starred_url":"https://api.github.com/users/csrordzhn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csrordzhn/subscriptions","organizations_url":"https://api.github.com/users/csrordzhn/orgs","repos_url":"https://api.github.com/users/csrordzhn/repos","events_url":"https://api.github.com/users/csrordzhn/events{/privacy}","received_events_url":"https://api.github.com/users/csrordzhn/received_events","type":"User","site_admin":false},"committer":{"login":"csrordzhn","id":11346536,"avatar_url":"https://avatars.githubusercontent.com/u/11346536?v=3","gravatar_id":"","url":"https://api.github.com/users/csrordzhn","html_url":"https://github.com/csrordzhn","followers_url":"https://api.github.com/users/csrordzhn/followers","following_url":"https://api.github.com/users/csrordzhn/following{/other_user}","gists_url":"https://api.github.com/users/csrordzhn/gists{/gist_id}","starred_url":"https://api.github.com/users/csrordzhn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/csrordzhn/subscriptions","organizations_url":"https://api.github.com/users/csrordzhn/orgs","repos_url":"https://api.github.com/users/csrordzhn/repos","events_url":"https://api.github.com/users/csrordzhn/events{/privacy}","received_events_url":"https://api.github.com/users/csrordzhn/received_events","type":"User","site_admin":false},"parents":[{"sha":"51ed825daef67774c84e13b87d3a9eb6843335ef","url":"https://api.github.com/repos/csrordzhn/frommage/commits/51ed825daef67774c84e13b87d3a9eb6843335ef","html_url":"https://github.com/csrordzhn/frommage/commit/51ed825daef67774c84e13b87d3a9eb6843335ef"}]},{"sha":"51ed825daef67774c84e13b87d3a9eb6843335ef","commit":{"author":{"name":"csrordzhn","email":"c_man182@yahoo.com","date":"2015-05-06T16:59:21Z"},"committer":{"name":"csrordzhn","email":"c_man182@yahoo.com","date":"2015-05-06T16:59:21Z"},"[...]
