---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/csrordzhn/class-SEC-HW/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1447578279'
      Last-Modified:
      - Mon, 25 May 2015 10:32:00 GMT
      Etag:
      - W/"f40e236fb4b61c82de59a07ac6111473"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"005340073c391c5305c59c9d2b67771efe932a4b","commit":{"author":{"name":"Soumya
        Ray","email":"soumya.ray@gmail.com","date":"2015-05-25T10:32:00Z"},"committer":{"name":"Soumya
        Ray","email":"soumya.ray@gmail.com","date":"2015-05-25T10:32:00Z"},"message":"Create
        pk_crypto assignment","tree":{"sha":"aa44c0cc1f7874480cb189ee8d34308090425a00","url":"https://api.github.com/repos/csrordzhn/class-SEC-HW/git/trees/aa44c0cc1f7874480cb189ee8d34308090425a00"},"url":"https://api.github.com/repos/csrordzhn/class-SEC-HW/git/commits/005340073c391c5305c59c9d2b67771efe932a4b","comment_count":0},"url":"https://api.github.com/repos/csrordzhn/class-SEC-HW/commits/005340073c391c5305c59c9d2b67771efe932a4b","html_url":"https://github.com/csrordzhn/class-SEC-HW/commit/005340073c391c5305c59c9d2b67771efe932a4b","comments_url":"https://api.github.com/repos/csrordzhn/class-SEC-HW/commits/005340073c391c5305c59c9d2b67771efe932a4b/comments","author":{"login":"soumyaray","id":1926704,"avatar_url":"https://avatars.githubusercontent.com/u/1926704?v=3","gravatar_id":"","url":"https://api.github.com/users/soumyaray","html_url":"https://github.com/soumyaray","followers_url":"https://api.github.com/users/soumyaray/followers","following_url":"https://api.github.com/users/soumyaray/following{/other_user}","gists_url":"https://api.github.com/users/soumyaray/gists{/gist_id}","starred_url":"https://api.github.com/users/soumyaray/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/soumyaray/subscriptions","organizations_url":"https://api.github.com/users/soumyaray/orgs","repos_url":"https://api.github.com/users/soumyaray/repos","events_url":"https://api.github.com/users/soumyaray/events{/privacy}","received_events_url":"https://api.github.com/users/soumyaray/received_events","type":"User","site_admin":false},"committer":{"login":"soumyaray","id":1926704,"avatar_url":"https://avatars.githubusercontent.com/u/1926704?v=3","gravatar_id":"","url":"https://api.github.com/users/soumyaray","html_url":"https://github.com/soumyaray","followers_url":"https://api.github.com/users/soumyaray/followers","following_url":"https://api.github.com/users/soumyaray/following{/other_user}","gists_url":"https://api.github.com/users/soumyaray/gists{/gist_id}","starred_url":"https://api.github.com/users/soumyaray/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/soumyaray/subscriptions","organizations_url":"https://api.github.com/users/soumyaray/orgs","repos_url":"https://api.github.com/users/soumyaray/repos","events_url":"https://api.github.com/users/soumyaray/events{/privacy}","received_events_url":"https://api.github.com/users/soumyaray/received_events","type":"User","site_admin":false},"parents":[{"sha":"c81daa05d6a3d2e14ee6077214834199c08e2f02","url":"https://api.github.com/repos/csrordzhn/class-SEC-HW/commits/c81daa05d6a3d2e14ee6077214834199c08e2f02","html_url":"https://github.com/csrordzhn/class-SEC-HW/commit/c81daa05d6a3d2e14ee6077214834199c08e2f02"}]},{"sha":"c81daa05d6a3d2e14ee6077214834199c08e2f02","commit":{"author":{"name":"Soumya
        Ray","email":"soumya.ray@gmail.com","date":"2015-05-18T07:12:21Z"},"committer":{"name":"Soumya
        Ray","email":"soumya.ray@gmail.com","d[...]
