---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/csrordzhn/hw_3-credit_card_crypto/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1447578279'
      Last-Modified:
      - Sun, 22 Mar 2015 10:19:48 GMT
      Etag:
      - W/"f6f408bf362253bedf4e9e904f57fd3c"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"8195c7d72f2e93b153e3c818d1af885fcd2ca58a","commit":{"author":{"name":"Soumya
        Ray","email":"soumya.ray@gmail.com","date":"2015-03-22T10:19:48Z"},"committer":{"name":"Soumya
        Ray","email":"soumya.ray@gmail.com","date":"2015-03-22T10:19:48Z"},"message":"Merge
        pull request #1 from ChengYuHsu/master\n\nFix typos and formatting problems
        in `README.md`.","tree":{"sha":"d2812025b53bcab7f3029a73120f5453cd4426c7","url":"https://api.github.com/repos/csrordzhn/hw_3-credit_card_crypto/git/trees/d2812025b53bcab7f3029a73120f5453cd4426c7"},"url":"https://api.github.com/repos/csrordzhn/hw_3-credit_card_crypto/git/commits/8195c7d72f2e93b153e3c818d1af885fcd2ca58a","comment_count":0},"url":"https://api.github.com/repos/csrordzhn/hw_3-credit_card_crypto/commits/8195c7d72f2e93b153e3c818d1af885fcd2ca58a","html_url":"https://github.com/csrordzhn/hw_3-credit_card_crypto/commit/8195c7d72f2e93b153e3c818d1af885fcd2ca58a","comments_url":"https://api.github.com/repos/csrordzhn/hw_3-credit_card_crypto/commits/8195c7d72f2e93b153e3c818d1af885fcd2ca58a/comments","author":{"login":"soumyaray","id":1926704,"avatar_url":"https://avatars.githubusercontent.com/u/1926704?v=3","gravatar_id":"","url":"https://api.github.com/users/soumyaray","html_url":"https://github.com/soumyaray","followers_url":"https://api.github.com/users/soumyaray/followers","following_url":"https://api.github.com/users/soumyaray/following{/other_user}","gists_url":"https://api.github.com/users/soumyaray/gists{/gist_id}","starred_url":"https://api.github.com/users/soumyaray/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/soumyaray/subscriptions","organizations_url":"https://api.github.com/users/soumyaray/orgs","repos_url":"https://api.github.com/users/soumyaray/repos","events_url":"https://api.github.com/users/soumyaray/events{/privacy}","received_events_url":"https://api.github.com/users/soumyaray/received_events","type":"User","site_admin":false},"committer":{"login":"soumyaray","id":1926704,"avatar_url":"https://avatars.githubusercontent.com/u/1926704?v=3","gravatar_id":"","url":"https://api.github.com/users/soumyaray","html_url":"https://github.com/soumyaray","followers_url":"https://api.github.com/users/soumyaray/followers","following_url":"https://api.github.com/users/soumyaray/following{/other_user}","gists_url":"https://api.github.com/users/soumyaray/gists{/gist_id}","starred_url":"https://api.github.com/users/soumyaray/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/soumyaray/subscriptions","organizations_url":"https://api.github.com/users/soumyaray/orgs","repos_url":"https://api.github.com/users/soumyaray/repos","events_url":"https://api.github.com/users/soumyaray/events{/privacy}","received_events_url":"https://api.github.com/users/soumyaray/received_events","type":"User","site_admin":false},"parents":[{"sha":"d9e24a48ed08e4a66bb351436e9167994e2ad783","url":"https://api.github.com/repos/csrordzhn/hw_3-credit_card_crypto/commits/d9e24a48ed08e4a66bb351436e9167994e2ad783","html_url":"https://github.com/csrordzhn/hw_3-credit_card_crypto/commit/d9e24a48ed08e4a66bb351436e9167994e2ad783"},{"sha":"b05e2e3b8ec4ab9fd226353b4e7c64553a865f7d","url":"https://api.github.com/repos/csrordzhn/hw_3-credit_card_crypto/commits/b05e2e3b8ec4ab9fd226353b4e7c64553a865f7d","html_url":"https://github.com/csrordzhn/hw_[...]
